<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../Styles/contact.css">
    <link rel="stylesheet" href="../Styles/Home-style.css">
    <link rel="stylesheet" href="../Styles/About.css">

</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="../templates/Home.html" >Home</a>
        <a href="../templates/Features.html">Features</a>
        <a href="../templates/ContactUs.html">Contact Us</a>
        <a href="../templates/About.html">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>


      <div class="container">
        <h1>About Us</h1>
        <p>Welcome to our website! We are dedicated to helping students optimize their class schedules for maximum efficiency and convenience.</p>
        <p>Our team consists of experts in artificial intelligence and scheduling algorithms, working tirelessly to develop innovative solutions for universities and students alike.</p>
        <p>With our cutting-edge technology and personalized approach, we aim to streamline the scheduling process, minimize costs for universities, and enhance the academic experience for students.</p>
        <p>Whether you're a student looking to create the perfect schedule or a university seeking to optimize resource allocation, we're here to help you achieve your goals.</p>
        <p>Thank you for choosing us for your scheduling needs!</p>
      </div>

      <div class="footer">
        <p>Minnesota state university property </p>
      </div>
</body>
</html>